



/* 헤더 상단 */
body { background:#7c7c8c; }
header { width:100%; }
.top_header { background:#222229; }
.top_header img { width:125px; margin:0 21px 0 35px; }
.top_header ul { display:inline-block; }
.top_header ul  li { display:inline-block; position:relative; }
.top_header ul  li a { color:#7c7c8c; font-size:14px; line-height:35px; padding:0 34px; }
.top_header ul  li a:hover { color:#fff; }
.top_header ul  li:nth-child(1) a:after { position:absolute; font-family:'xeicon'; content:'\e936'; right:9px; }    

/* 헤더 메뉴 */

.main_header { background:#000; height:80px; }
.main_nav .xi-external-link { opacity:0.75; margin-left:3px; }

.main_header img { width:116px; line-height:80px; height:80px; float:left; margin:0 47px  }
.main_header > a { }




.main_header .main_nav { float:left; }
.main_header .main_nav > ul > li { display:inline-block; position: relative; }
.main_header .main_nav > ul > li > a { color:#fff; font-size:16px; padding:0 30.5px; line-height:80px; }

.main_header .main_nav .submenu { background:#000; position: absolute; z-index:5; }
.main_header .main_nav .submenu li a { color:#999; padding: 0 27px; font-size:14px; height:38px; line-height:38px; }
.main_header .main_nav .submenu li a:last-child { padding-bottom:15px }

.main_header .main_nav li:nth-child(3) .submenu { width:175px;}
.main_header .main_nav li:nth-child(4) .submenu { width:130px;  }
.main_header .main_nav li:nth-child(5) .submenu { width:155px; }
.main_header .main_nav li:nth-child(6) .submenu { width:135px; }
.main_header .main_nav li:nth-child(6) .submenu { width:130px; }

/* 메인 섹션 */

.main_header .login_start { float:right }
.main_header .login_start a { color:#fff; font-size:14px; margin-right:22px; }
.main_header .login_start a:before { font-family:'xeicon'; content:'\e963'; }
.login_start .login button { width:200px; height:80px; background:#92734a; color:#fff; font-size:16px; 
cursor:pointer; }

.main { position: relative; }
.main video { width:100%; }
.main .main_wrap { position:absolute; color:#fff; 
    width:970px; top:303px; left:50%; transform: translateX(-50%); z-index:55; text-align: center; }
.main .main_wrap h2 { font-size:77px; }
.main .main_wrap p { font-size:25px; margin-top:36px; }
.main .main_wrap a { display:block; width:311px; height:76px; background:#dcb15c; border-radius:3px; color:#333; 
font-size: 23px; margin:0 auto; line-height:76px; margin-top:40px; }



